# BayesDB analysis of fish bouts in relation to paramecia characteristics

## 1. Ingesting the data

### a. Launching BayesDB

In [14]:
from csv_analysis import invert_all_bouts
import pandas as pd
#drct = '042318_6/'
drct = 'wik_bdb/'
csv_file = drct + 'all_huntbouts_rev_strikes.csv'
data = pd.read_csv(csv_file)
#invert_all_bouts(data, drct)

In [15]:
%load_ext jupyter_probcomp.magics

The jupyter_probcomp.magics extension is already loaded. To reload it, use:
  %reload_ext jupyter_probcomp.magics

In [16]:
%matplotlib inline
%vizgpm inline

In [17]:
#!rm -f wik_bdb/bdb_hunts_inverted.bdb
#%bayesdb -j wik_bdb/bdb_hunts_inverted.bdb

#!rm -f wik_bdb/bdb_hunts_marr.bdb
#%bayesdb -j wik_bdb/bdb_hunts_marr.bdb

!rm -f wik_bdb/bdb_hunts_strikes.bdb
%bayesdb -j wik_bdb/bdb_hunts_strikes.bdb

u'Loaded: wik_bdb/bdb_hunts_strikes.bdb'

### b. Loading and printing the data from a `.csv` file

In [18]:
%sql DROP TABLE IF EXISTS bout_table;
#%bql CREATE TABLE bout_table FROM 'wik_bdb/huntbouts_inverted.csv' 
%bql CREATE TABLE bout_table FROM 'wik_bdb/all_huntbouts_rev_strikes.csv'

Empty DataFrame
Columns: []
Index: []

In [19]:
%sql SELECT * FROM bout_table LIMIT 25;

,Bout Number,Bout Az,Bout Alt,Bout Dist,Bout Delta Pitch,Bout Delta Yaw,Para Az,Para Alt,Para Dist,Para Az Velocity,Para Alt Velocity,Para Dist Velocity
0,0.0,-1.517935,0.209603,79.683312,0.154864,-0.597033,-0.977032,0.629180,354.291281,-0.018158,0.248046,63.812992
1,1.0,-0.091744,-0.041809,36.699616,-0.003720,-0.025881,-0.162832,0.654781,305.528267,-0.167410,-0.006146,59.091504
2,2.0,-0.696157,1.136643,99.484831,0.394846,-0.325807,-0.179093,0.818221,281.527199,-0.009887,-0.040281,40.084665
3,3.0,0.076014,0.096790,44.498897,0.006143,-0.006103,0.073963,0.210280,134.098036,-0.201641,-0.130749,28.201272
4,4.0,-0.091702,-0.448835,37.549377,-0.230556,-0.013962,0.108441,0.299536,77.905007,-1.066720,-0.747382,56.823983
5,0.0,-0.765298,0.134860,46.688688,0.016697,-0.213122,-0.442195,0.487576,78.876586,0.516194,-1.271139,91.357699
6,0.0,0.381012,-0.009323,106.672823,0.050132,0.288992,0.461436,0.400363,372.395718,0.056930,-0.152271,18.417169
7,1.0,0.249314,0.245233,108.092195,0.157152,0.182348,0.198364,0.499294,282.973273,0.002776,-0.207885,22.815677
8,2.0,-0.177434,0.370098,71.896190,0.098214,-0.097365,-0.119681,0.392236,171.041294,-0.113498,-0.777826,-23.743168
9,3.0,-0.032516,-0.027963,41.116158,0.007806,0.015926,0.039726,0.164327,102.885812,0.144669,-1.242611,58.623923
10,4.0,0.033145,-0.260699,18.541979,0.054503,0.031701,0.125257,0.160875,74.386892,0.470890,-0.838827,92.258154
11,5.0,0.057734,0.015657,27.290028,-0.017324,-0.003464,0.129650,0.098769,66.348647,-0.122988,-1.642987,117.515069
12,6.0,-0.029460,-0.705597,23.771771,-0.020801,0.035149,0.139575,0.054191,49.455664,-0.718843,-1.611971,25.835775
13,7.0,0.334789,-0.159939,33.834275,-0.013138,0.124594,0.169372,0.191130,77.167653,-0.677099,-1.267579,245.655063
14,0.0,1.373179,0.237685,114.755086,0.023939,0.723166,1.113917,0.447859,472.217591,0.007521,0.024405,14.673697
15,1.0,-0.021982,0.005760,90.708704,-0.033050,-0.015950,0.291139,0.430328,352.718887,-0.007013,-0.001521,0.568670
16,2.0,1.190205,0.741153,122.207667,0.322482,0.558639,0.497323,0.669647,238.260240,0.010431,0.047861,-1.798699
17,3.0,-1.043683,0.010100,60.723961,-0.092611,-0.352631,-0.476926,0.172341,138.588661,0.002982,0.010909,1.075523
18,4.0,0.400459,0.844920,45.368327,0.021480,0.103704,0.207898,0.369461,94.029352,0.021601,0.194015,10.596529
19,0.0,-2.255817,-0.226108,156.520220,0.101263,-1.358346,-2.008579,-0.082977,258.437317,-0.055397,0.000248,-83.751646
20,1.0,-0.497830,-0.569756,15.752200,0.059811,-0.034260,-0.123602,0.342200,112.998138,0.612109,-0.030904,24.070265
21,2.0,0.378355,-0.074980,35.249019,0.049048,0.085938,0.075844,0.383721,109.038729,0.651577,-0.052337,17.026315
22,0.0,-1.033718,-1.089715,80.424867,-0.144165,-0.192400,-0.412976,-0.430097,248.112526,-0.009203,-0.137568,-0.921994
23,1.0,-0.357593,-0.609913,92.335710,-0.183948,-0.169394,-0.189620,-0.129438,183.324767,-0.406012,-0.165351,-19.720917
24,2.0,-0.078822,0.555451,12.762742,0.020849,-0.021582,-0.065496,0.386278,87.114869,-0.425377,-0.028639,5.636750

In [20]:
%bql .nullify bout_table ''
%bql .nullify bout_table 'nan'

Nullified 0 cells
Nullified 0 cells

## 2. Automatically learning a CrossCat probabilistic model

### a. Defining an analysis population

In [21]:
%bql GUESS SCHEMA FOR bout_table

,column,stattype,num_distinct,reason
0,Bout Number,nominal,25.0,There are fewer than 20 distinct numerical va...
1,Bout Az,numerical,1402.0,There are at least 20 unique numerical values...
2,Bout Alt,numerical,1402.0,There are at least 20 unique numerical values...
3,Bout Dist,numerical,1402.0,There are at least 20 unique numerical values...
4,Bout Delta Pitch,numerical,1399.0,There are at least 20 unique numerical values...
5,Bout Delta Yaw,numerical,1402.0,There are at least 20 unique numerical values...
6,Para Az,numerical,1402.0,There are at least 20 unique numerical values...
7,Para Alt,numerical,1402.0,There are at least 20 unique numerical values...
8,Para Dist,numerical,1402.0,There are at least 20 unique numerical values...
9,Para Az Velocity,numerical,1400.0,There are at least 20 unique numerical values...
10,Para Alt Velocity,numerical,1399.0,There are at least 20 unique numerical values...
11,Para Dist Velocity,numerical,1399.0,There are at least 20 unique numerical values...

In [22]:
%%mml
DROP POPULATION IF EXISTS bout_population;
CREATE POPULATION bout_population FOR bout_table WITH SCHEMA (GUESS STATTYPES OF (*);
                          IGNORE "Bout Number";)

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%mml
DROP POPULATION IF EXISTS bout_population;
CREATE POPULATION bout_population FOR bout_table WITH SCHEMA (GUESS STATTYPES OF (*);
                          IGNORE "Hunt ID", "Bout Number", "Strike Or Abort", "Inferred", "Percent Nans in Bout", 
                                "Cluster Membership", "Avg Para Velocity", "Postbout Para Az", "Postbout Para Alt", 
                                "Postbout Para Dist";)

### b. Creating and analyzing a probabilistic model (automatically)

In [23]:
%mml CREATE GENERATOR huntbouts_crosscat FOR bout_population;

Empty DataFrame
Columns: []
Index: []

In [24]:
%mml INITIALIZE 50 MODELS IF NOT EXISTS FOR huntbouts_crosscat;

Empty DataFrame
Columns: []
Index: []

In [25]:
%mml ANALYZE huntbouts_crosscat FOR 100 ITERATIONS (OPTIMIZED);
# note you can use the (OPTIMIZED) flag here but that gave you weird results last time.

Completed: 100 iterations in 22.051533 seconds.
Completed: 100 iterations in 25.010735 seconds.
Completed: 100 iterations in 21.015184 seconds.
Completed: 100 iterations in 20.247600 seconds.
Completed: 100 iterations in 27.024532 seconds.
Completed: 100 iterations in 37.410548 seconds.
Completed: 100 iterations in 30.212003 seconds.
Completed: 100 iterations in 25.125406 seconds.
Completed: 100 iterations in 30.727558 seconds.
Completed: 100 iterations in 24.992102 seconds.
Completed: 100 iterations in 20.142974 seconds.
Completed: 100 iterations in 29.104442 seconds.
Completed: 100 iterations in 15.223624 seconds.
Completed: 100 iterations in 49.329785 seconds.
Completed: 100 iterations in 24.577059 seconds.
Completed: 100 iterations in 27.063289 seconds.
Completed: 100 iterations in 24.465906 seconds.
Completed: 100 iterations in 66.622996 seconds.
Completed: 100 iterations in 28.874128 seconds.
Completed: 100 iterations in 21.521279 seconds.
Completed: 100 iterations in 21.307270 seconds.
Completed: 100 iterations in 25.944054 seconds.
Completed: 100 iterations in 26.067101 seconds.
Completed: 100 iterations in 23.901482 seconds.
Completed: 100 iterations in 22.765973 seconds.
Completed: 100 iterations in 28.150981 seconds.
Completed: 100 iterations in 16.546035 seconds.
Completed: 100 iterations in 23.239151 seconds.
Completed: 100 iterations in 26.176553 seconds.
Completed: 100 iterations in 28.286486 seconds.
Completed: 100 iterations in 40.565243 seconds.
Completed: 100 iterations in 25.780033 seconds.
Completed: 100 iterations in 17.101125 seconds.
Completed: 100 iterations in 21.723472 seconds.
Completed: 100 iterations in 24.808420 seconds.
Completed: 100 iterations in 19.642300 seconds.
Completed: 100 iterations in 29.528112 seconds.
Completed: 100 iterations in 22.316786 seconds.
Completed: 100 iterations in 50.954316 seconds.
Completed: 100 iterations in 28.306982 seconds.
Completed: 100 iterations in 27.309883 seconds.
Completed: 100 iterations in 19.460665 seconds.
Completed: 100 iterations in 28.072523 seconds.
Completed: 100 iterations in 25.420516 seconds.
Completed: 100 iterations in 22.208738 seconds.
Completed: 100 iterations in 29.572770 seconds.
Completed: 100 iterations in 23.278810 seconds.
Completed: 100 iterations in 22.794697 seconds.
Completed: 100 iterations in 22.231436 seconds.
Completed: 100 iterations in 20.071715 seconds.

Empty DataFrame
Columns: []
Index: []